#title {
    background-color: #e60f57;
    color:#fff;
    text-align: left;
}
#title .container-fluid {
    padding: 3% 15% 7%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat-Bold';
}
p{
    color:#8f8f8f;
}
/* heading */
.big-heading{
    font-family: 'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
}
.container-fluid{
    padding:7% 15%;

}
body{
    font-family: 'Montserrat';
    text-align: center;
}
/* navigationbar */
.navbar{
    padding:0 0  4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;

}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}
/* buttons */
.download-button{
    margin: 5% 3% 5% 0%;
}
.title-img{
    width: 60%;
    transform: rotate(25deg);
    right:30%;
    position: absolute;
}
/* features */
.feature-title{
    font-size: 1.5rem;
}
#features{
    background-color: #fff;
    position: relative;
    
}
.icon{
    background-color: #ef8172;
    margin-bottom: 1rem;
    border-radius: 50%;
}
.icon:hover{
    background-color: #ff4c68;
}
/* testimonials */
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
#testimonials{
    background-color: #ef8172;
    color: #fff;

}
.testimonial-img{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
/* pricing */
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
#pricing{
    padding:100px;
    text-align: center;

}
.pricing-column{
    padding: 3% 2%;
}
/* cta section */
#cta{
    background-color: #e60f57;
    color: #fff;
}

/* footer section */
#footer{
    padding: 7% 15%;
}
.social-icon{
    margin: 20px 10px;
}
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
    
    }
}

